
{% block imagecontent %}


  <!-- start picture -->

  <!--image slider start-->
  <div class="slider">
    <div class="slides">
      <!--radio button start-->
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <!--radio button end-->
      <!--Slide Image Start-->
      <div class="slide first">
          <img src="{% static 'ourproduct\frontPagePic.PNG' %}" alt="">
      </div>
      <div class="slide">
          <img src="{% static 'ourproduct\frontPagePic.PNG' %}" alt="">
      </div>
      <div class="slide">
          <img src="{% static 'ourproduct\frontPagePic.PNG' %}" alt="">
      </div>
      <div class="slide">
          <img src="{% static 'ourproduct\frontPagePic.PNG' %}" alt="">
      </div>
      <!--Slide Image end-->
      <!-- automate navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!-- automate navigation end-->
    </div>
    <!-- namual navigation start-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
    <!-- namual navigation end-->
  </div>
  <!-- img slider end-->


  <!-- end start picture-->



{% endblock %}
