
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <section class="contact">
        <div class="content">
          <h2>Contact Us</h2>
          <p>this is the section to write the details abhout the contact.</p>
        </div>
        <div class="container">
          <div class="contactInfo">
            <div class="box">
              <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Address</h3>
                <p>Plot no. 119/5, Phase-II, IDA, <br>Cherlapally,<br> Hydrabad-500051</p>
              </div>
            </div>
            <div class="box">
              <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Phone</h3>
                <p>+91 8879249278</p>
              </div>
            </div>
            <div class="box">
              <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Email</h3>
                <p>info@sinnchem.com</p>
              </div>
            </div>
          </div>
          <div class="contactForm">
            <form class="" action="index.html" method="post">
              <h2>Send Message</h2>
              <div class="inputBox">
                  <input type="text" name="" value="" required="required">
                  <span>Full Name</span>
              </div>
              <div class="inputBox">
                  <input type="text" name="" value="" required="required">
                  <span>Email</span>
              </div>
              <div class="inputBox">
                  <textarea  required="required"></textarea>
                  <span>Type Your Message...</span>
              </div>
              <div class="inputBox">
                <input type="submit" name="" value="Send">
              </div>
            </form>
          </div>
        </div>
    </section>
  </body>
</html>
